*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#ct8-form button {
    background-image: -webkit-linear-gradient(-87deg, #ff7ea8 30%, #8c2f4e 81%);
    font-size: 17px;
    font-weight: 500;
    border-radius: 15px;
}

#ct8-form label {
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}

#map .center .map-list {
    padding-left: 5%;
}

#map .center {
    border-left: 1px solid black;
    margin-bottom: 13%;
    color: aliceblue;
}

#map .map-img {
}

#ct6-content .card-body .btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

#ct6-title h4 {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
    font-weight: 500;
    color: #fff;
    font-size: xx-large;
}

#content6 {
    padding: 2% 0%;
    background: url('../web img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#ct5-content .card-body button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

#ct5-content .card-body button {background-image: -webkit-linear-gradient(45deg, #ff7ea8 30%, #8c2f4e 81%);width: 80%;border-radius: 10px;}

#ct5-content .card-body btn {
    background: aqua;
}

#ct4-content .card-body {
    padding-top: 10px;
}

#ct4-content .card .view {
    background: violet;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ct4-content .card {
    background: #ffc312;
    border-radius: 15px;
    transition: 5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0, 1.99);
}

#ct4-content .card:hover {
    transform: scale(1.05);
}

#ct2-content .center h5 {
    font-weight: 500;
}

#ct8-form form {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
}

div#ct8-countdown h4 {
    font-size: 25px;
    font-weight: 400;
}
#countdown{
    font-size: 30px;
    font-family: 'Wallpoet';
    font-weight: lighter;
    word-spacing: 20px;
    color: red;
    width: 42%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 0.5%;
    background: #f0f8ff73;
    border-radius: 15px;
    box-shadow: 1px -1px 20px 10px #a299e5;
}
div#ct8- {}

#ct8-text h5 {
    font-size: 28px;
    font-weight: 500;
}

#ct8-title h4 {
    margin-top: 3%;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: xx-large;
}

div#content8 {
    background: url('../web img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

#ct2-content .right {
    margin-bottom: 10%;
    margin-top: 0%;
    padding: 2% 2%;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


#ct2-content .right .text {
    margin-bottom: 7%;
    font-size: 23px;
}

#ct2-content .right .text i {
    margin: 0% 5% 0% 0%;
}

#ct2-title h4 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0%;
    margin-bottom: 1%;
    font-weight: 500;
    color: #fff;
    padding: 2% 1%;
}

#content2 {
    background: url('../web img/backgroud6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-bottom: 1%;
    background-attachment: fixed;
}

body img{
    width: 100%;
    height: auto;
}



                                                        /*bat dau menu*/

#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 16px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 36px;
}


#basicExampleNav li.nav-item {
    padding-left: 10px;
}


#logo .logo {
    width: 100%;
    text-align: center;
}

#logo img.img-fluid {
    width: 56%;
}

#logo {
    padding: 0px;
    margin: 0;
}

#menu-top .container-fluid {
    margin: 0;
    padding: 0;
}

#menu-top {
    padding: 0;
    margin: 0;
}


#menu-button button {
    width: 163px;
    margin: 2% 1%;
    padding-left: 0;
    padding-right: 0;
}

#menu-button .lienhe {
    background: #c62828;
    border-radius: 10px;
    color: #fff;
    width: 75%;
}

#menu-button .dangky {
    background: #063080;
    border-radius: 10px;
    color: #fff;
}

#menu-button {
    /* padding: 0px 3px; */
    text-align: left;
    text-align: center;
}

#menu-duoi {
    padding: 7px 0px;
}

#menu-duoi nav.navbar.navbar-expand-lg.navbar-dark.primary-color {
    padding: 0;
}

#icon-lien-he {
    margin: 5px 0px;
}

#sdt .card.bg-danger.text-white {
    margin: 10px 0px;
    margin-right: 25px;
}

#sdt .card-body {
    padding: 10px 28px;
    text-align: center;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 10%;
}


#icon-lien-he li.nav-item {
    width: 19%;
}

#menu-top .nav-item img {
    width: 58%;
    margin: auto;
    text-align: center;
}

#sdt .card {
    margin-top: 11px;
    width: 80%;
    background: #c62828;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    /* float: right; */
}

#sdt .card i {
    padding-right: 10px;
}

/*end menu*/
/*content1*/

div#carouselExampleControls {
    width: 100%;
}

#cogai1 {
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 17%;
    opacity: 0;
    visibility: hidden;
    animation: slidemot-nut 1.5s forwards;
    animation-iteration-count: 1;
}


#haoquang1 {
    position: absolute;
    width: 20%;
    bottom: 41%;
    right: 17%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.5s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}

#haoquang2 {
    position: absolute;
    width: 20%;
    bottom: 35%;
    right: 14%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.8s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}



#may1 {
    position: absolute;
    z-index: 3;
    width: 18%;
    bottom: 54%;
    left: 17%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
}

#may2 {
    width: 19%;
    position: absolute;
    z-index: 3;
    bottom: 60%;
    left: 40%;
    opacity: 0;
    visibility: hidden;
    animation-delay:  2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#slide1-text{
    position: absolute; 
    width: 35%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 180%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide1 button a {
    color: #925166;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide1 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 20%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    background: #fde04c;
}

/*END slide 1*/
/*slide 2*/
#slide2-img2 {
    width: 19%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 17%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}

#slide2-img1{
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 8%;
    left: 6%;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text h4{
    position: absolute;
    width: 50%;
    z-index: 5;
    bottom: 58%;
    left: 15%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide2 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 27%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #5c794b;
}

/*end slide 2*/
/*slide 3*/
#slide3-img1 {
    width: 32%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 6%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}
#slide3-img2{
    width: 35%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 15%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text{
    color: #0aa2da;
}
#slide3-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 66%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 51%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3 button a {
    color: #2e1517;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide3 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 39%;
    left: 51%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #fc415c;
}
/*end slide3*/
/*slide4*/
#slide4-img1 {
    width: 39%;
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 33%;
    opacity: 0;
    visibility: hidden;
    animation: slidemot-nut 1.5s forwards;
    animation-iteration-count: 1;
}
#slide4-text {
    color: white;
}
#slide4-img2{
    width: 25%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 10%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 48%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 30%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#slide4 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 19%;
    left: 45%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #b91f23;
}
/*End slide 4*/
/*Animation*/
@-webkit-keyframes slide-mot-lanmot{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(1000px);
           -moz-transform: translateY(1000px);
            -ms-transform: translateY(1000px);
             -o-transform: translateY(1000px);
                transform: translateY(1000px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes slidemot-nut{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-1000px);
           -moz-transform: translateX(-1000px);
            -ms-transform: translateX(-1000px);
             -o-transform: translateX(-1000px);
                transform: translateX(-1000px);

    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@-webkit-keyframes haoquang-saucogai{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.2);
           -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
             -o-transform: scale(0.2);
                transform: scale(0.2);
    }
    50%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1.5);
           -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
             -o-transform: scale(1.5);
                transform: scale(1.5);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes slidemot-linhtinh {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    25%{
        opacity: 0.25;
        visibility: visible;
    }
    50%{
        opacity: 0.5;
        visibility: visible;
    }
    75%{
        opacity: 0.75;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

                                            /*end content 1*/
                                            /*content 2: tÃƒÂ¡Ã‚ÂºÃ‚Â¡i sao chÃƒÂ¡Ã‚Â»Ã‚Ân chÃƒÆ’Ã‚Âºng tÃƒÆ’Ã‚Â´i*/

                                           /*end content 2: tÃƒÂ¡Ã‚ÂºÃ‚Â¡i sao chÃƒÂ¡Ã‚Â»Ã‚Ân chÃƒÆ’Ã‚Âºng tÃƒÆ’Ã‚Â´i*/
                                           /*content 3: lÃƒÂ¡Ã‚Â»Ã¢â€žÂ¢ trÃƒÆ’Ã‚Â¬nh du hÃƒÂ¡Ã‚Â»Ã‚Âc*/
#ct3-content .col-2dot4,
#ct3-content .col-sm-2dot4,
#ct3-content .col-md-2dot4,
#ct3-content .col-lg-2dot4,
#ct3-content .col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }

#ct3-content .col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#ct3-title {
    text-align: center;
    margin-bottom: 2%;
}

#ct3-title h4 {
    color: #fff;
    font-weight: bold;
}

#ct3-content .card-body {
    padding: 20px 10px;
}

#ct3-content .card {
    background: #e74c3c;
    text-align: center;
    transition: 5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0, 1.61);
}

#ct3-content .card:hover {
    transform: scale(1.2);
    background: #ff6766;
}

#ct3-content .card .card-body img {
    width: 20%;
}

#ct3-content .card .card-body p {
    color: #fff;
    margin-top: 20px;
    height: 13vh;
}

#content3 {background: #e74c3c;padding: 3% 0%;}

#ct3-content .card-img-top {
    width: 75%;
    margin: auto;
}
@media (min-width: 540px) {
    #ct3-content .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 720px) {
    #ct3-content .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 960px) {
    #ct3-content .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    #ct3-content .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

                                           /*end content 3: lÃƒÂ¡Ã‚Â»Ã¢â€žÂ¢ trÃƒÆ’Ã‚Â¬nh du hÃƒÂ¡Ã‚Â»Ã‚Âc*/
                                           /*content 4: cÃƒÆ’Ã‚Â¡c chÃƒâ€ Ã‚Â°Ãƒâ€ Ã‚Â¡ng trÃƒÆ’Ã‚Â¬nh du hÃƒÂ¡Ã‚Â»Ã‚Âc chÃƒÂ¡Ã‚Â»Ã‚Â§ yÃƒÂ¡Ã‚ÂºÃ‚Â¿u*/

#content4 {
    padding-bottom: 2%;
    background: url('../web img/2057adc9de6eda8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#ct4-title {
    text-align: center;
    margin: 2% 0%;
}

#ct4-title h4 {
    color: black;
    font-weight: bold;
    padding: 1%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#ct4-content .card .card-text {
    text-align: left;
    height: 25vh;
    margin-top: 5%;
    margin-bottom: 2%;
    color: black;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

#ct4-content .card-body .btn {background-image: -webkit-linear-gradient(-45deg, #ff7ea8 25%, #8c2f4e 51%);text-decoration: none;color: #fff;font-weight: 500;width: 80%;border-radius: 10px;font-size: large;}

#ct4-content .card-title {
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: bold;
    color: #8c2f4e;
    border-radius: 10px;
    padding: 10px 0px;
    background: #ffdb6f;
    box-shadow: 0px 8px 20px 2px #8c2f4e;
}

#ct4-content {
    text-align: center;
}

#ct4-content img {
    width: 65%;
    margin: auto;
}
                                           
                                           /*end content 4: cÃƒÆ’Ã‚Â¡c chÃƒâ€ Ã‚Â°Ãƒâ€ Ã‚Â¡ng trÃƒÆ’Ã‚Â¬nh du hÃƒÂ¡Ã‚Â»Ã‚Âc chÃƒÂ¡Ã‚Â»Ã‚Â§ yÃƒÂ¡Ã‚ÂºÃ‚Â¿u*/
                                    /*content 5: CÃƒÂ¡c chÃ†Â°Ã†Â¡ng trÃƒÂ¬nh hÃ¡Â»Âc bÃ¡Â»â€¢ng*/
#ct5-content .col-2dot4,
#ct5-content .col-sm-2dot4,
#ct5-content .col-md-2dot4,
#ct5-content .col-lg-2dot4,
#ct5-content .col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
 }

#ct5-content .col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#ct5-title {
    text-align: center;
    margin-bottom: 2%;
}

#ct5-title h4 {
    color: #fff;
    font-weight: bold;
}

#ct5-content .card-body {
    padding: 20px 10px;
}

#ct5-content .card-body hr {
    border: 1px solid #fff;
    width: 73%;
    margin: auto;
}

#ct5-content .card {
    background: #e74c3c;
    text-align: center;
    transition: 5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.09, 1.57);
}

.card.text-center:hover {
    transform: scale(1.2);
}

#ct5-content .card .card-body img {
    width: 20%;
}

#ct5-content .card .card-body p {
    color: #fff;
    margin-top: 20px;
    height: 13vh;
    font-family: 'Roboto', sans-serif;
}

#content5 {background: #e74c3c;padding: 3% 0%;}

#ct5-content .card-img-top {
    width: 75%;
    margin: auto;
}

#ct5-content h5 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 540px) {
    #ct5-content .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 720px) {
    #ct5-content .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 960px) {
    #ct5-content .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    #ct5-content .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
                                    /*end content 5: CÃƒÂ¡c chÃ†Â°Ã†Â¡ng trÃƒÂ¬nh hÃ¡Â»Âc bÃ¡Â»â€¢ng*/
                                    /*content 6 :trÃ†Â°Ã¡Â»Âng nhÃ¡ÂºÂ­t*/

#ct6-content .card-body .btn {
    text-align: center;
    width: 100%;
    margin: auto;
    background-image: -webkit-linear-gradient(-87deg, #ff7ea8 30%, #8c2f4e 81%);
    padding-left: 20px;
    padding-right: 20px;
}

#ct6-content .card-text {
    height: 16vh;
    overflow: hidden;
}

#ct6-content .card-title {
    font-size: 20px;
    font-weight: bold;
    height: 7vh;
}

#ct6-content .card-body {
    padding: 20px 10px;
}

#ct6-content .truongtieng .view img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#ct6-content .truongtieng {
    margin-bottom: 20px;
}
                                    /*end content 6 :trÃ†Â°Ã¡Â»Âng nhÃ¡ÂºÂ­t*/
                                    /*conent 7: hÃƒÂ¬nh Ã¡ÂºÂ£nh*/

#content7 #tieude .lines-trangtri i {
   font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #e3b3ed;
    padding: 0px 8px;
}

#content7 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}
#content7 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 3%;
}
#content7 .imgshow ul li {
    float:  left;
    width: calc(100%/4);
    list-style: none;
}

#content7 .imgshow ul li a {
    width: 100%;
    /* position: relative; */
}

#content7 .imgshow ul li img {
    width: 100%;
    /* position: relative; */
    filter: brightness(90%);
}

#content7 .imgshow figure {
    margin: 5px;
    text-align: center;
    display: block;
    margin: 0;
    position: relative;
}

#content7 .imgshow figcaption {
    background: aqua;
    position: absolute;
    top: 69%;
    left: 0%;
    z-index: 4;
    text-align: center;
}

#content7 .imgshow figure h5 {
    text-decoration: none;
    color: gray;
    margin: 0;
}

#content7 .imgshow-bg h4 {
    text-decoration: none;
    color: beige;
    font-weight:  bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content7 .imgshow-bg p {
    text-decoration: none;
    color: beige;
    margin: 0;
}

#content7 #control-buttons a {
    text-decoration: none;
    border-radius: 15px;
}

#content7 #control-buttons ul li {
    display: inline-block;
}
.imgshow-bg {
    position: absolute;
    top: 55%;
    left: 0;
    text-align: center;
    height: 45%;
    width: 100%;
    background-image: -webkit-linear-gradient(90deg, #904c4c87 25%, #6455557a 50%, #3030309c 65%, #15151500 85%);
}

div#content7 {
    width: 100%;
    background-image: url('../web img/13925hinh-nen-powerpoint-nen-tim-nhat1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1%;
    margin-top: 0%;
    padding-bottom: 3%;
    background-attachment: fixed;
}

#content7 .text-center {
    padding-bottom: 1%;
}
@media (max-width: 375px) {  /*set cho mÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â n ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“iÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡n thoÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡i (iphone)*/
    #content7 .imgshow ul li{
        width: 100%;
    }
}
@media (min-width: 376px) and (max-width: 1024px) {
    #content7 .imgshow ul li{
        width: 50%;
    }
}


                                    /*content 9 : map Ã„â€˜Ã¡Â»â€¹a chÃ¡Â»â€°*/
div#content9 {
    background: #1f1f1f;
    padding-bottom: 3%;
}
#content9 .col-5.col-sm-5.col-md-5.col-lg-5 {
    padding: 0;
}
#buttom-left .row {
    padding-top: 20px;
}
#logo-buttom {
    padding: 5px;
}
#logo-buttom img {
    width: 100%;
}
#ten-buttom {
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: 'Convergence';
    padding-top: 6%;
    padding-bottom: 6%;
    text-shadow: 2px 1px 1px #ff6666;
}
#ten-buttom h3 {
    font-size: 34px;
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right h4 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 4%;
}
#buttom-right p {
    font-size: 18px;
    padding-left: 1%;
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right .row {
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}
#buttom-right img {
    width: 18%;
    height: 100%;
    padding: 2%;
}
.fb {
    width: 380px;
    background: aqua;
    height: 200px;
    color: black;
    /* margin: auto; */
}
#buttom-right iframe {
    width: 100%;
    height: 100%;
}
                                    /*end content 9: map Ã„â€˜Ã¡Â»â€¹a chÃ¡Â»â€°*/
                                    /*SVG map*/
#map {
    width: 60%
}
#ct2-content .map-img path {
    fill: #9384c6;
    stroke: #c2badd;
    stroke-width: 1px;
    transition: fill 0.3s;
}


#ct2-content .map-list ul li {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 20px;
    transition: 1s;
}
#ct2-content .map-list ul li:hover {
    background: #f8264e;
    border-radius: 10px;
    padding-left: 25px;
}
#ct2-content .map-img .region-1 path {
   fill: #f8264e;
}
#ct2-content .map-img path:hover {
    fill: #7c0018;
}
#ct2-content .map-img .region-1 .map-light {
    fill: #7c0018;
}
                                    /*<END SVG MAP*/




                                    /*modal*/

#nhantuvanngay .close {
    color: #ffff;
}

#nhantuvanngay .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#nhantuvanngay .modal-content .modal-body .md-form {margin-top: 0px;}

#nhantuvanngay .modal-content .modal-footer button {
    width: 70%;
    /* background: #880e4f; */
    background-image: -webkit-linear-gradient(-45deg, #ff7ea8 25%, #8c2f4e 51%);
    border-radius: 10px;
}
#nhantuvanngay .md-form label {
    color: #fff;
}