@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:400i');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#tongtien {
    font-size: xx-large;
    font-weight: 400;
    margin-left: 12%;
}

#socap-img1 .modal-body input {
    width: 20%;
    text-align: center;
    margin-left: 10%;
}

#socap-img1 .modal-body .sc-img-bt {
    width: 100%;
    text-align: center;
}

#socap-img1 .modal-body h4 {
    font-size: 50px;
    font-weight: 500;
}

#socap-img1 .modal-body .cost {
    width: 14%;
    text-align: center;
    margin-left: 20px;
}

#socap-img1 .modal-body button {
    width: 65%;
    border-radius: 10px;
    background: #dc3545;
}

#gtvtt-quatrinh .gtvtt-clip {
    width: 50%;
    height: 50vh;
    margin: auto;
    border-radius: 15px;
}







body img{
    width: 100%;
    height: auto;
}




                                                        /*bat dau menu*/
#menu-top .bottom {
    position: fixed;
    z-index: 100;
    width: 85%;
    background: url('../web img/gradient-background-images-6204-6478-hd-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#menu-duoi .navbar-toggler-icon {background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');}
#menu-top .menu2 {
    border-top-left-radius: 100px;
    transition: 1s;
    top: -1.5%;
    left: 14%;
    width: 87%;
    background-image: -webkit-linear-gradient(45deg,#ff6766c7 10%,#063080b8 40%,#063080c2 50%,#f992a7 60%,#ff676659 80%,#ff6766 95%);
}

#menu-top .menu3 {
    border-bottom-left-radius: 100px;
    top: -0.5%;
    left: 14%;
    width: 87%;
    background-image: -webkit-linear-gradient(45deg,#86d9f3e6 10%,#29bcece0 40%,#1ac3fa 50%,#00bbf8de 60%,#2c86a3 80%,#049ccd 95%);
    transition: 1s;
}

#menu-top .menu4 {
    left: 14%;
    width: 87%;
    transition: 1s;
    top: -3%;
    border-radius: 30px;
}

div#background1 {
    background-image: url('../web img/gradient-background-images-6204-6478-hd-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#menu-top .menu1 {
    top: 1%;
    width: 89%;
    left: 13%;
    transition: 1s;
    background-image: -webkit-linear-gradient(90deg,#ffffff52 10%,#aea5a578 20%,#ff676678 30%,#a63d3dd4 50%,#f992a7 60%,#ff67667a 80%,#eeeeee87 95%);
}

#ct3-noidung .card:hover {
    transform: scale(1.1);
}

#ct3-noidung .card {
    transition: 2s;
    transition-timing-function: cubic-bezier(0, 0.68, 0.66, 0.54);
}
#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 16px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 36px;
}

#basicExampleNav li.nav-item {
    padding-left: 10px;
}


#logo .logo {
    width: 100%;
    text-align: center;
}

#logo img.img-fluid {
    width: 9%;
    position: fixed;
    left: 4%;
    top: 1%;
    z-index: 100;
}

#logo img.img-fluid.logo2 {
    width: 7%;
    top: -3%;
    left: 5%;
    transition: 1s;
}

#logo img.img-fluid.logo3 {
    width: 7%;
    top: -2%;
    left: 5%;
}

#logo img.img-fluid.logo4 {
    width: 7%;
    left: 5%;
    top: -5%;
    transition: 1s;
}

#logo img.img-fluid.logo1 {
    width: 7%;
    left: 4%;
    background-color: #41aca500;
    transition: 1s;
    box-shadow: 77px 0px 20px #41aca500;
}

#menu-top .menu-logo {
    padding: 0px;
    margin: 0;
    height: 22vh;
    background: #36afba;
    background-repeat: no-repeat;
    box-shadow: 11px 35px 62px #36afba;
}

#menu-top .bg-logo1 {
    background: #36afba;
    background-repeat: no-repeat;
    box-shadow: 60px 0px 62px #36afba;
}

#menu-top .container-fluid {
    margin: 0;
    padding: 0;
}

#menu-top {
    padding: 0;
    margin: 0;
}


#menu-button button {
    width: 147px;
    margin: 2% 1%;
    padding-left: 0;
    padding-right: 0;
}

#menu-button .dangnhap {
    background: #c62828;
    border-radius: 10px;
    color: #fff;
}

#menu-button .dangky {
    background: #063080;
    border-radius: 10px;
    color: #fff;
}

#menu-button {
    /* padding: 0px 3px; */
    text-align: left;
    text-align: right;
}

#menu-duoi {
    padding: 4px 0px;
}

#menu-duoi .navbar.navbar-expand-lg.navbar2 {
    background: #ff967000;
    border-top-left-radius: 100px;
}

#menu-duoi .navbar.navbar-expand-lg.navbar3 {
    background: #ff967000;
    border-bottom-left-radius: 100px;
}

#menu-duoi .navbar.navbar-expand-lg.navbar4 {
    border-radius: 30px;
    transition: 1s;
}

#menu-duoi .navbar.navbar-expand-lg.navbar1 {
    background: #ffe4c400;
    transition: 1s;
}

.navbar.navbar-expand-lg.navbar1 {
}

#menu-duoi .navbar .menuduoi-content a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

#menu-duoi .navbar .menuduoi-content li {
    border-bottom: 4px solid #f5f5dc00;
}
#menu-duoi .navbar .menuduoi-content li:hover {
    border-bottom: 4px solid red;
    transition: 2s;
}
#menu-duoi .nav-item.mn-vechungtoi.vitri-line {
    border-bottom: 4px solid #063080;
    transition: 2s;
}
#menu-duoi .nav-item.mn-chuongtrinh.vitri-line {
    border-bottom: 4px solid #ffcb32;
    transition: 2s;
}
#menu-duoi .nav-item.mn-phuongphap.vitri-line {
    border-bottom: 4px solid #4bcffa;
    transition: 2s;
}
#menu-duoi .nav-item.mn-thuvien.vitri-line {
    border-bottom: 4px solid #ef5777;
    transition: 2s;
}
#menu-duoi .nav-item.mn-hinhanh.vitri-line {
    border-bottom: 4px solid #aa66cc;
    transition: 2s;
}

#menu-duoi .navbar .menuduoi-content a4 {
    color: #2196F3;
}

#menu-duoi .nav-link.waves-effect.waves-light.navbar-a2 {
    color: #ffffff;
}

#menu-duoi .nav-link.waves-effect.waves-light.navbar-a3 {
    color: #ef5777;
    transition: 1s;
}

#menu-duoi .nav-link.waves-effect.waves-light.navbar-a4 {color: aliceblue;transition: 1s;}

#menu-duoi .nav-link.waves-effect.waves-light.navbar-a {
    color: #fffefe;
    transition: 1s;
}

#menu-duoi.nav-link.navbar-a {
}

#menu-duoi nav.navbar.navbar-expand-lg.navbar-dark.primary-color {
    padding: 0;
}

#icon-lien-he {
    margin: 5px 0px;
}

#sdt .card.bg-danger.text-white {
    margin: 10px 0px;
    margin-right: 25px;
}

#sdt .card-body {
    padding: 10px 28px;
    text-align: center;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 1%;
}


#icon-lien-he li.nav-item {
    width: 19%;
}

#menu-top .nav-item img {
    width: 58%;
    margin: auto;
    text-align: center;
}

#sdt .card {
    margin-top: 11px;
    width: 78%;
    background: #c62828;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    float: right;
}

#sdt .card i {
    padding-right: 10px;
}

/*end menu*/
/*content1*/

div#carouselExampleControls {
    width: 100%;
}

#cogai1 {
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 17%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}


#haoquang1 {
    position: absolute;
    width: 20%;
    bottom: 41%;
    right: 17%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.5s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}

#haoquang2 {
    position: absolute;
    width: 20%;
    bottom: 35%;
    right: 14%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.8s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}



#may1 {
    position: absolute;
    z-index: 3;
    width: 18%;
    bottom: 54%;
    left: 17%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
}

#may2 {
    width: 19%;
    position: absolute;
    z-index: 3;
    bottom: 60%;
    left: 40%;
    opacity: 0;
    visibility: hidden;
    animation-delay:  2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#slide1-text{
    position: absolute; 
    width: 35%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 180%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide1 button a {
    color: #925166;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide1 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 20%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    background: #fde04c;
}

/*END slide 1*/
/*slide 2*/
#slide2-img2 {
    width: 29%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 8%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}

#slide2-img1{
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 8%;
    left: 6%;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 58%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide2 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 27%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #5c794b;
}

/*end slide 2*/
/*slide 3*/
#slide3-img1 {
    width: 32%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 6%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}
#slide3-img2{
    width: 35%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 15%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text{
    color: #0aa2da;
}
#slide3-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 66%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 51%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3 button a {
    color: #2e1517;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide3 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 39%;
    left: 51%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #fc415c;
}
/*end slide3*/
/*slide4*/
#slide4-img1 {
    width: 39%;
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 33%;
    opacity: 0;
    visibility: hidden;
    animation: slidemot-nut 1.5s forwards;
    animation-iteration-count: 1;
}
#slide4-text {
    color: white;
}
#slide4-img2{
    width: 25%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 10%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 48%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 30%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#slide4 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 19%;
    left: 45%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #b91f23;
}
/*End slide 4*/
/*Animation*/
@-webkit-keyframes slide-mot-lanmot{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(1000px);
           -moz-transform: translateY(1000px);
            -ms-transform: translateY(1000px);
             -o-transform: translateY(1000px);
                transform: translateY(1000px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes slidemot-nut{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-1000px);
           -moz-transform: translateX(-1000px);
            -ms-transform: translateX(-1000px);
             -o-transform: translateX(-1000px);
                transform: translateX(-1000px);

    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@-webkit-keyframes haoquang-saucogai{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.2);
           -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
             -o-transform: scale(0.2);
                transform: scale(0.2);
    }
    50%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1.5);
           -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
             -o-transform: scale(1.5);
                transform: scale(1.5);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes slidemot-linhtinh {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    25%{
        opacity: 0.25;
        visibility: visible;
    }
    50%{
        opacity: 0.5;
        visibility: visible;
    }
    75%{
        opacity: 0.75;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

/*End enimation*/

                                            /*end content 1*/
/*content2 +3*/

#content2 #noidung {
    margin-top: 6%;
}

div#content3 {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: -webkit-linear-gradient(90deg,#ffffff 1%,#fbb2b2 20%,#ff676678 30%,#42619c 50%,#f992a7 60%,#ff67667a 80%,#ffffff 95%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#ct3-tieude .text-center {
    padding-bottom: 3%;
}

#content31 .text-center {
    padding-top: 2%;
}


#content2 #noidung .chuongtrinh .text-center p {
    position: absolute;
    z-index: 2;
    top: 41%;
    left: 4.5%;
    right: 4.5%;
    font-size: 16.64px;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}

#content2 #noidung .chuongtrinh .text-center h2 {
    position: absolute;
    z-index: 2;
    top: 21%;
    right: 2.5%;
    left: 2.5%;
    font-size: 145%;
    font-weight: bold;
    text-shadow: 0px 1px 3px #ff6766;
}

#content2 #noidung .chuongtrinh button {
    position: absolute;
    z-index: 4;
    top: 76%;
    width: 63%;
    left: 18%;
    right: 18%;
    border-radius: 10px;
    background: #ff6766;
}

#content2 #noidung .chuongtrinh button a {
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#content2 #noidung .chuongtrinh .text-center {
    background: #ffcb32;
    height: 56vh;
    border-radius: 25px;
}

#content2 #noidung .chuongtrinh .text-center img {
    position: absolute;
    z-index: 4;
    width: 40%;
    left: 30%;
    right: 30%;
    top: -15%;
}


#content2 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#ct3-tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #feb5b500;
    padding: 0px 8px;
}

#content31 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #e7effe00;
    padding: 0px 8px;
}


#content4 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #ffffff00;
    padding: 0px 8px;
}

#content2 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#ct3-tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content31 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}


#content4 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content2 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 1%;
}

#ct3-tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 4%;
}

#content31 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 2%;
}


#content4 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 3%;
}

#content2 {
    margin-top: 2%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 3%;
    background-image: url("../web img/hinh nen content2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#content2 #noidung .chuongtrinh {
    position: relative;
}








#ct3-noidung p.card-text {
    font-size: 16.64px;
    color: #4a4141;
}

#ct3-noidung h4.card-title {
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 5px;
}

#ct3-noidung .card-body {
    text-align: center;
    background-color: #ffcb32;
    opacity: 1;
}

#ct3-noidung img {
    width: 100%;
    height: 25vh;
}


                                            /*end content 2 + 3*/
                                           

.outt {
    display: none;
}

#content31 .leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0px;
    width: 5%;
    height: 26%;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background: #ef577778;
    font-size: 150%;
}

#content31 .rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0px;
    bottom: 0;
    z-index: 100;
    width: 5%;
    height: 26%;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background: #ef577778;
    font-size: 150%;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}


/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}

#content31 h4 {
    background: #ef5777;
    padding: 10px 15px;
    border-bottom-left-radius:  15px;
    border-top-left-radius:  15px;
    border-top-right-radius: 100px;
    width: 40%;
    margin: 17px 20px;
}

div#content31 {
    padding-bottom: 2%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-linear-gradient(90deg,#ffffff 1%,#f48fa1 20%,#f48fa1 30%,#9e9de0 50%,#9a99de 60%,#e7effe 80%,#e7effe 95%);
}











                                            
                                            /*content 4*/
#content4 .imgshow ul li {
    float:  left;
    width: calc(100%/4);
    list-style: none;
}

#content4 .imgshow-bg {
    position: absolute;
    top: 55%;
    left: 0;
    text-align: center;
    height: 45%;
    width: 100%;
    background-image: -webkit-linear-gradient(90deg, #904c4c87 25%, #6455557a 50%, #3030309c 65%, #15151500 85%);
}

/*.fb {
    width: 380px;
    background: aqua;
    height: 200px;
    color: black;
     margin: auto; 
}*/

#buttom-right iframe {
    width: 100%;
    height: 100%;
}

#content4 .load {
    clear: both;
}

#content4 .load-button {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;
    overflow: hidden;
    clear: both;
}

#content4 .imgshow ul li a {
    width: 100%;
    /* position: relative; */
}

#content4 .imgshow ul li img {
    width: 100%;
    /* position: relative; */
    filter: brightness(90%);
}

#content4 .imgshow figure {
    margin: 5px;
    text-align: center;
    display: block;
    margin: 0;
    position: relative;
}

#content4 .imgshow figcaption {
    background: aqua;
    position: absolute;
    top: 69%;
    left: 0%;
    z-index: 4;
    text-align: center;
}

#content4 .imgshow figure h5 {
    text-decoration: none;
    color: gray;
    margin: 0;
}

#content4 .imgshow-bg h4 {
    text-decoration: none;
    color: beige;
    font-weight:  bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content4 .imgshow-bg p {
    text-decoration: none;
    color: beige;
    margin: 0;
}

#content4 #control-buttons a {
    text-decoration: none;
    border-radius: 15px;
}

#content4 #control-buttons ul li {
    display: inline-block;
}

div#content4 {
    width: 100%;
    background-size: cover;
    padding-bottom: 3%;
    background-image: -webkit-linear-gradient(90deg,#ffffff 10%,#aa66cc 20%,#aa66cc 30%,#ff8aa3 50%,#92e4ff 60%,#fafafa 80%,#ffffff 91%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#content4 .text-center {
    padding-bottom: 1%;
}

#content6 button {
    background: #fff;
    color: #ff6666;
    padding: 4% 5%;
    font-size: 17px;
    font-weight: bold;
    margin: 12% 0%;
    border-radius: 10px;
}

#content6 h2 {
    font-weight: bold;
    color: #FFF;
    text-align: center;
    margin: auto;
    padding: 9% 2%;
    padding-left: 23%;
}

div#content6 {background: #ff6666;margin-top: 3%;margin-bottom: 2%;}

#content7 .col-5.col-sm-5.col-md-5.col-lg-5 {
    padding: 0;
}

div#map {
    width: 90%;
    height: 40vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0;
}

#map iframe {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    /* border: 1px solid black; */
}

div#content7 {
    background: #1f1f1f;
    padding-bottom: 3%;
}

#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}

#buttom-right h4 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 4%;
}

#buttom-right p {
    font-size: 18px;
    padding-left: 1%;
}

#ten-buttom {
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: 'Convergence';
    padding-top: 6%;
    padding-bottom: 6%;
    text-shadow: 2px 1px 1px #ff6666;
}

#ten-buttom h3 {
    font-size: 32px;
}

#logo-buttom {
    padding: 5px;
}

#logo-buttom img {
    width: 86%;
}

#buttom-left .row {
    padding-top: 20px;
}

#buttom-right .row {
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}

#buttom-right img {
    width: 18%;
    height: 100%;
    padding: 2%;
}

#buttom-right h5 {
    font-weight: bold;
    padding-left: 2%;
    font-size: 22px;
}

/*back to top*/
.lentop {display:none;bottom: 5%;right: 17px;cursor: pointer;position: fixed;z-index: 1000;}
.lentop div {
    background-image: url('../web img/giphy (2).gif');
    background-size: cover;
    border:2px solid #fff;
    border-radius:45px;
    padding:11px 12.5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
    }
.lentop img {width: 47px;height: 47px;}


/*modal*/
/*menu*/
 
#modal-dangnhap .social, #modal-dangky .social {float: none;margin: 2% auto 1%;text-align: center;}
 
#modal-dangnhap .social .circle, #modal-dangky .social .circle {background-color: #ffffff;color: #000000;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;display: inline-block;margin: 0 7px;padding: 7px;}
 
#modal-dangnhap .social .circle .fa, #modal-dangky .social .circle .fa {font-size: 18px;}
 
#modal-dangnhap .social .facebook, #modal-dangky .social .facebook {background-color: #455CA8;color: #FFFFFF;}
#modal-dangnhap .social .google, #modal-dangky .social .google {background-color: #F74933;}
 
#modal-dangnhap .social .apple, #modal-dangky .social .apple {/* background-color: #403A3A; */}
 
#modal-dangnhap .social .facebook:hover {    
background-color: #6E83CD;
}
#modal-dangky .social .facebook:hover {    
background-color: #6E83CD;
}
#modal-dangnhap .social .google:hover {  
background-color: #FF7566;
}
#modal-dangky .social .google:hover {  
background-color: #FF7566;
}
#modal-dangnhap .social .apple:hover {  
background-color: #4D4D4d;
}
#modal-dangky .social .apple:hover {  
background-color: #4D4D4d;
}
#modal-dangnhap .modal-footer button, #modal-dangky .modal-footer button {
    width: 66%;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(-45deg,#b5bacc 30%,#455ca8 60%);
}

#modal-dangnhap .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#modal-dangky .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#modal-dangnhap {
    color: #fff;
}
#modal-dangky {
    color: #fff;
}

#modal-dangnhap .modal-body label {
    color: #fff;
}

#modal-dangnhap .modal-header button {
    color: #fff;
}

#modal-dangky .modal-header {
    padding: 2% 0%;
}

#modal-dangky .modal-body {
    padding: 1% 1%;
}

#modal-dangky .social hr {
    background: #fff;
    margin: 6% 0%;
}

#modal-dangky .close {
    position: fixed;
    top: 2%;
    right: 5%;
    font-size: 30px;
    color: #fff;
}

#nhantuvanngay .close {
    color: #ffff;
}

#nhantuvanngay .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#nhantuvanngay .modal-content .modal-body .md-form {margin-top: 0px;}

#nhantuvanngay .modal-content .modal-footer button {
    width: 70%;
    background: #880e4f;
    background-image: -webkit-linear-gradient(-45deg, #ff7ea8 25%, #8c2f4e 51%);
    border-radius: 10px;
}

#modal-dangky .modal-body p {
    text-align: center;
    font-size: large;
}

#nhantuvanngay .md-form label {
    color: #fff;
}

#modal-dangky .modal-body p a {color: aqua;}

#modal-dangky .custom-control label {
    text-align: left;
    margin: 3% 0%;
}

#gtvtt-thungo p img {
    width: 7%;
    float: right;
}

#gtvtt-thungo p {
}

.md-form input[type=date]+label:after, .md-form input[type=datetime-local]+label:after, .md-form input[type=email]+label:after, .md-form input[type=number]+label:after, .md-form input[type=password]+label:after, .md-form input[type=search-md]+label:after, .md-form input[type=search]+label:after, .md-form input[type=tel]+label:after, .md-form input[type=text]+label:after, .md-form input[type=time]+label:after, .md-form input[type=url]+label:after, .md-form textarea.md-textarea+label:after {
    width: 100px;
}

                            /*QuÃƒÂ¡ trÃƒÂ¬nh hoÃ¡ÂºÂ¡t Ã„â€˜Ã¡Â»â„¢ng*/

                             /*End QuÃƒÂ¡ trÃƒÂ¬nh hoÃ¡ÂºÂ¡t Ã„â€˜Ã¡Â»â„¢ng*/
                            /*responsite*/
/*MÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â n hÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬nh Iphone*/
@media (max-width: 375px) {   
    *{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#buttom-right iframe {
    width: 100%;
}

#buttom-right p {
    font-size: 11px;
    margin-bottom: 1%;
    margin-left: 5%;
}

#buttom-right h4 {
    font-size: 24px;
    padding-bottom: 1%;
    text-align: center;
}

#buttom-right {}

#ten-buttom {
    width: 75%;
}

#ten-buttom h3 {
    font-size: 23px;
}

#logo-buttom {
    width: 25%;
}

#content6 .img {
    padding: 0;
}

#content6 .img img {
    width: 123%;
}

#content6 button {
    font-size: 12px;
    width: 100%;
    margin: 5% 0%;
    padding: 10px 5px;
}

#content6 h2 {
    width: 100%;
    padding: 20px 10px;
    font-size: 20px;
}

#content4 .text-center {
    margin-top: 3%;
    margin-bottom: 1%;
}

#content4 #control-buttons a {
    width: 82px;
    padding: 10px 15px;
    font-size: 9px;
}

#content4 #tieude h2 {
    font-size: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#content31 .rightRs, #content31 .leftRs {
    width: 5%;
    font-size: 80%;
    height: 30%;
    padding: 10px 15px;
}

#content31 h4 {
    width: 100%;
    margin: 12px 0px;
    font-size: 15px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
}

#content31 #tieude .lines-trangtri i, #content4 #tieude .lines-trangtri i {
    font-size: 22px;
}

#content31 #tieude .lines-trangtri, #content4 #tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    width: 44%;
}

#content31 #tieude h2 {
    font-size: 105%;
    margin-bottom: 4%;
    margin-top: 2%;
}

#ct3-noidung p.card-text {
    font-size: 14.64px;
}

#ct3-noidung h4.card-title {
    margin-bottom: 15px;
    margin-top: 1px;
    font-size: 17px;
}

#ct3-noidung .card-body {
    padding: 10px 5px;
}

#ct3-noidung .ct3-noidung {
    padding: 5px;
}

#ct3-tieude .lines-trangtri i {
    font-size: 18px;
    padding: 0px 0px;
}

#ct3-tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    width: 53%;
}

#ct3-tieude h2 {
    font-size: 100%;
}

#content2 {
    padding: 1%;
}

#content2 #noidung .ct2-noidung {
    padding: 5px;
}

#content2 #noidung .chuongtrinh button a {
    font-size: 10px;
}

#content2 #noidung .chuongtrinh button {
    top: 73%;
    width: 75%;
    left: 8%;
    right: 8%;
    padding: 10px 5px;
}

#content2 #noidung .chuongtrinh .text-center p {
    top: 38%;
    left: 2.5%;
    right: 2.5%;
    font-size: 9.64px;
}

#content2 #noidung .chuongtrinh .text-center h2 {
    top: 17%;
    right: 2.5%;
    left: 2.5%;
    font-size: 90%;
}

#content2 #noidung .chuongtrinh .text-center {
    height: 34vh;
}

#content2 #noidung {
    margin-top: 10%;
}

#content2 #tieude .lines-trangtri i {
    font-size: 16px;
    padding: 0;
    line-height: 18px;
    top: -12px;
}

#content2 #tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content2 #tieude h2 {
    font-size: 86%;
}

#menu-duoi .nav-item.mn-vechungtoi.vitri-line {
    border: none;
}

#slide4-text p {
    width: 58%;
    font-size: 59%;
    bottom: 16%;
    left: 13%;
}

#slide4-text h4 {
    width: 55%;
    font-size: 100%;
    bottom: 57%;
    left: 13%;
}

#slide3-text p {
    width: 55%;
    font-size: 56%;
    left: 12%;
    bottom: 48%;
}

#slide3-text h4 {
    width: 55%;
    font-size: 97%;
    bottom: 72%;
    left: 14%;
}

#slide2-img1 {
    width: 23%;
}

#slide2-text p {
    width: 54%;
    font-size: 43%;
    left: 15%;
}

#slide2-text h4 {
    width: 42%;
    font-size: 100%;
    left: 15%;
}

#slide1 button a, #slide2 button a, #slide3 button a, #slide4 button a   {
    font-size: 7px;
}

#slide1 button, #slide2 button, #slide3 button, #slide4 button {
    width: 70px;
    font-size: 42%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#slide4 button {
    left: 40%;
    bottom: 15%;
}

#slide3 button {
    left: 46%;
    width: 17%;
}

#slide1-text {
    font-size: 55%;
    width: 50%;
    left: 17%;
}

#content1 {
    margin-top: 60px;
}

#menu-duoi .navbar {
    background-image: linear-gradient(white, #ff6766);
}

#menu-duoi .navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}

#menu-duoi .navbar.navbar-expand-lg.navbar2, #menu-duoi .navbar.navbar-expand-lg.navbar3, #menu-duoi .navbar.navbar-expand-lg.navbar4 {
    background-image: linear-gradient(white, #ff6766);
    border-bottom-right-radius: 100px;
}

nav.navbar.navbar-expand-lg.navbar2 {
    background-image: linear-gradient(white, #ff6766);
}

.navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}

#menu-button button {
    width: 46%;
    margin: 10% 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

#menu-button {
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}

#menu-top .bottom {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: none;
    transition: 1s;
}

#menu-top .menu1 {
    left: 0;
    top: -2%;
    transition: 1s;
}

#menu-top .menu2 {
    left: 0;
    top: -2%;
    transition: 1s;
}

#menu-top .menu3, #menu-top .menu4 {
    left: 0;
    top: 0%;
    transition: 1s;
}

#sdt .card-body {
    padding: 3px 1px;
    text-align: center;
}

#sdt .card {
    margin-top: 0;
    width: 100%;
    background: #c62828;
    color: #fff;
    border-radius: 10px;
    float: right;
    padding: 0;
}

div#sdt {
    margin: 0;
    padding: 0;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 0%;
}

#icon-lien-he li.nav-item {
    width: 16%;
}

#icon-lien-he {
    margin: 0px 0px;
    padding: 0;
}

#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 4px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 28px;
    text-align: center;
}

#logo .logo {
    width: 100%;
    text-align: center;
}

#menu-top .menu-logo {padding: 0px;margin: 0;height: 7vh;width: 100%;}

div#background1 {
    background: none;
}


body img{
    width: 100%;
    height: auto;
}

#buttom-right img {
    width: 15%;
    height: 100%;
}

#logo-buttom img {
    width: 100%;
}

#content2 #noidung .chuongtrinh .text-center img {
    width: 46%;
    left: 27%;
    top: -18%;
}

#slide4-img2 {
    width: 30%;
    right: 5%;
}

#slide3-img2 {
    width: 40%;
    left: 9%;
}

#slide3-img1 {
    width: 38%;
    right: 1%;
}

#slide2-img2 {
    width: 35%;
    right: 4%;
}

#haoquang2 {
    width: 26%;
    bottom: 46%;
    right: 11%;
}

#haoquang1 {
    width: 27%;
    bottom: 55%;
    right: 10%;
}

#cogai1 {
    width: 30%;
    right: 10%;
}

#menu-top .nav-item img {
    width: 90%;
    margin: auto;
    text-align: center;
}

#logo img.img-fluid {
    width: 9%;
    position: fixed;
    left: 43%;
    top: 1%;
    z-index: 100;
}

#logo img.img-fluid.logo1 {
    width: 15%;
    left: 25%;
    top: -1%;
    z-index: 102;
}

#logo img.img-fluid.logo2, #logo img.img-fluid.logo3, #logo img.img-fluid.logo4 {
    width: 15%;
    left: 25%;
    top: 0%;
    z-index: 102;
}

#content4 .imgshow ul li{
        width: 100%;
    }
}


@media (max-width: 1024px) and (min-width: 376px) {
    *{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#menu-duoi .nav-link.waves-effect.waves-light.navbar-a3, #menu-duoi .nav-link.waves-effect.waves-light.navbar-a4 {
    color: #063080;
}

#content4 .imgshow-bg p {
    font-size: 185%;
}

#content4 .imgshow-bg {}

#content4 .imgshow-bg h4 {
    font-size: 207%;
}

#content4 #control-buttons ul li {
    margin: 0% 2%;
}

#buttom-right iframe {
    width: 100%;
}

#buttom-right p {
    font-size: 14px;
    margin-bottom: 1%;
    margin-left: 5%;
}

#buttom-right h4 {
    font-size: 32px;
    padding-bottom: 1%;
    text-align: center;
}

#buttom-right {}

#ten-buttom {
    width: 75%;
}

#ten-buttom h3 {
    font-size: 23px;
}

#logo-buttom {
    width: 25%;
}

#content6 .img {
    padding: 0;
}

#content6 .img img {
    width: 124%;
}

#content6 button {
    font-size: 25px;
    width: 100%;
    margin: 21% 0%;
    padding: 10px 5px;
}

#content6 h2 {
    width: 100%;
    padding: 20px 10px;
    font-size: 25px;
    margin-top: 12%;
}

#content4 .text-center {
    margin-top: 1%;
    margin-bottom: 1%;
}

#content4 #control-buttons a {
    width: 100%;
    padding: 10px 15px;
    font-size: 30px;
}

#content4 #tieude h2 {
    font-size: 208%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#content31 .rightRs, #content31 .leftRs {
    width: 5%;
    font-size: 80%;
    height: 30%;
    padding: 10px 15px;
}

#content31 h4 {
    width: 100%;
    margin: 12px 0px;
    font-size: 30px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
}

#content31 #tieude .lines-trangtri i, #content4 #tieude .lines-trangtri i {
    font-size: 39px;
}

#content31 #tieude .lines-trangtri, #content4 #tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    width: 40%;
}

#content31 #tieude h2 {
    font-size: 232%;
    margin-bottom: 3%;
    margin-top: 3%;
}

#ct3-noidung p.card-text {
    font-size: 23.64px;
}

#ct3-noidung h4.card-title {
    margin-bottom: 15px;
    margin-top: 1px;
    font-size: 24px;
}

#ct3-noidung .card-body {
    padding: 10px 5px;
}

#ct3-noidung .ct3-noidung {
    padding: 5px;
}

#ct3-tieude .lines-trangtri i {
    font-size: 44px;
    padding: 0px 0px;
}

#ct3-tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    width: 53%;
}

#ct3-tieude h2 {
    font-size: 214%;
}

#content2 {
    padding: 1%;
}

#content2 #noidung .ct2-noidung {
    padding: 5px;
}

#content2 #noidung .chuongtrinh button a {
    font-size: 22px;
}

#content2 #noidung .chuongtrinh button {
    top: 81%;
    width: 80%;
    left: 8%;
    right: 8%;
    padding: 10px 5px;
}

#content2 #noidung .chuongtrinh .text-center p {
    top: 28%;
    left: 2.5%;
    right: 2.5%;
    font-size: 23.64px;
}

#content2 #noidung .chuongtrinh .text-center h2 {
    top: 14%;
    right: 2.5%;
    left: 2.5%;
    font-size: 158%;
}

#content2 #noidung .chuongtrinh .text-center {
    height: 34vh;
}

#content2 #noidung {
    margin-top: 10%;
}

#content2 #tieude .lines-trangtri i {
    font-size: 45px;
    padding: 0;
    line-height: 25px;
    top: -12px;
}

#content2 #tieude .lines-trangtri {
    border: 1px solid #2d3e50;
    margin-top: 3%;
    margin-bottom: 3%;
}

#content2 #tieude h2 {
    font-size: 200%;
}

#menu-duoi .nav-item.mn-vechungtoi.vitri-line {
    border: none;
}

#slide4-text p {
    width: 58%;
    font-size: 137%;
    bottom: 30%;
    left: 13%;
}

#slide4-text h4 {
    width: 55%;
    font-size: 216%;
    bottom: 50%;
    left: 15%;
}

#slide3-text p {
    width: 55%;
    font-size: 154%;
    left: 12%;
    bottom: 48%;
}

#slide3-text h4 {
    width: 55%;
    font-size: 199%;
    bottom: 63%;
    left: 14%;
}

#slide2-img1 {
    width: 23%;
}

#slide2-text p {
    width: 54%;
    font-size: 136%;
    left: 15%;
}

#slide2-text h4 {
    width: 42%;
    font-size: 249%;
    left: 15%;
}

#slide1 button a, #slide2 button a, #slide3 button a, #slide4 button a   {
    font-size: 23px;
}

#slide1 button, #slide2 button, #slide3 button, #slide4 button {
    width: 22%;
    font-size: 42%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#slide4 button {
    left: 31%;
    bottom: 15%;
    width: 27%;
}

#slide3 button {
    left: 43%;
    width: 17%;
}

#slide1-text {
    font-size: 167%;
    width: 50%;
    left: 17%;
}

#content1 {
    margin-top: 60px;
}

#menu-duoi .navbar {
    background-image: linear-gradient(white, #ff6766);
}

#menu-duoi .navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}

#menu-duoi .navbar.navbar-expand-lg.navbar2, #menu-duoi .navbar.navbar-expand-lg.navbar3, #menu-duoi .navbar.navbar-expand-lg.navbar4 {
    background-image: linear-gradient(white, #ff6766);
    border-bottom-right-radius: 100px;
}

nav.navbar.navbar-expand-lg.navbar2 {
    background-image: linear-gradient(white, #ff6766);
}

.navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}

#menu-button button {
    width: 37%;
    margin: 5% 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}

#menu-button {
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}

#menu-top .bottom {
    position: fixed;
    z-index: 100;
    width: 90%;
    transition: 1s;
}

#menu-top .menu1 {
    top: 1%;
    transition: 1s;
}

#menu-top .menu2 {
    right: 0;
    top: 1%;
    transition: 1s;
}

#menu-top .menu3, #menu-top .menu4 {
    top: 1%;
    transition: 1s;
}

#sdt .card-body {
    padding: 3px 1px;
    text-align: center;
}

#sdt .card {
    margin-top: 0;
    width: 100%;
    background: #c62828;
    color: #fff;
    border-radius: 10px;
    float: right;
    padding: 0;
}

div#sdt {
    margin: 0;
    padding: 0;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 0%;
}

#icon-lien-he li.nav-item {
    width: 16%;
}

#icon-lien-he {
    margin: 0px 0px;
    padding: 0;
}

#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 4px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 28px;
    text-align: center;
}

#logo .logo {
    width: 100%;
    text-align: center;
}

#menu-top .menu-logo {padding: 0px;margin: 0;height: 7vh;width: 100%;}

div#background1 {
}


body img{
    width: 100%;
    height: auto;
}

#ct3-noidung img {
    height: 14vh;
}

#buttom-right img {
    width: 20%;
    height: 100%;
}

#logo-buttom img {
    width: 100%;
}

#content2 #noidung .chuongtrinh .text-center img {
    width: 46%;
    left: 27%;
    top: -13%;
}

#slide4-img2 {
    width: 30%;
    right: 5%;
}

#slide3-img2 {
    width: 36%;
    left: 9%;
}

#slide3-img1 {
    width: 38%;
    right: 1%;
}

#slide2-img2 {
    width: 35%;
    right: 4%;
}

#haoquang2 {
    width: 26%;
    bottom: 46%;
    right: 11%;
}

#haoquang1 {
    width: 27%;
    bottom: 55%;
    right: 10%;
}

#cogai1 {
    width: 30%;
    right: 10%;
}

#menu-top .nav-item img {
    width: 90%;
    margin: auto;
    text-align: center;
}

#logo img.img-fluid {
    width: 9%;
    position: fixed;
    left: 3%;
    top: 2%;
    z-index: 100;
}

#logo img.img-fluid.logo1 {
    width: 10%;
    left: 1%;
    top: -1%;
    z-index: 102;
}

#logo img.img-fluid.logo2, #logo img.img-fluid.logo3, #logo img.img-fluid.logo4 {
    width: 11%;
    left: 1%;
    top: -1%;
    z-index: 102;
}

#content4 .imgshow ul li{
        width: 100%;
    }
}
