@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:400i');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#content2 .ct2-img3 {
    background: #d7869b59;
    border-radius: 10px;
    box-shadow: -14px -13px 19px 1px #5f606680;
}

#content2 .ct2-img1 {
    background: #438f7847;
    border-radius: 10px;
    box-shadow: 8px 12px 20px 4px #e898697a;
}

#content2 .card-body .text strong {
    color: #fff;
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}

#content2 .card-body .text p {
    color: aliceblue;
    font-size: 18px;
    background: #501a1d99;
}

#content2 .card-body .mb-4 {
    background: #c9374f36;
    padding: 1% 2%;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 8px 19px 2px #3d1a19ba;
}

#content2 .card-body .ct3-text1 h4 {
    width: 50%;
    margin: auto;
}

#content2 .card-body .ct3-text2 h4 {
    width: 78%;
    margin: auto;
}

#content2 .card-body .ct3-text3 h4 {
    width: 90%;
    margin: auto;
}
#content3 {
    background: url('../web img/jezael-melgoza-748008-unsplash.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#content4 {
    background: url('../web img/hinh nen content2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#content5{
    background: url('../web img/2057adc9de6eda8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body img{
    width: 100%;
    height: auto;
}



                                                        /*bat dau menu*/

#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 16px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 36px;
}


#basicExampleNav li.nav-item {
    padding-left: 10px;
}


#logo .logo {
    width: 100%;
    text-align: center;
}

#logo img.img-fluid {
    width: 85%;
}

#logo {
    padding: 0px;
    margin: 0;
}

#menu-top .container-fluid {
    margin: 0;
    padding: 0;
}

#menu-top {
    padding: 0;
    margin: 0;
}


#menu-button button {
    width: 163px;
    margin: 2% 1%;
    padding-left: 0;
    padding-right: 0;
}

#menu-button .dangnhap {
    background: #c62828;
    border-radius: 10px;
    color: #fff;
}

#menu-button .dangky {
    background: #063080;
    border-radius: 10px;
    color: #fff;
}

#menu-button {
    /* padding: 0px 3px; */
    text-align: left;
    text-align: right;
}

#menu-duoi {
    padding: 7px 0px;
}

#menu-duoi nav.navbar.navbar-expand-lg.navbar-dark.primary-color {
    padding: 0;
}

#icon-lien-he {
    margin: 5px 0px;
}

#sdt .card.bg-danger.text-white {
    margin: 10px 0px;
    margin-right: 25px;
}

#sdt .card-body {
    padding: 10px 28px;
    text-align: center;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 10%;
}


#icon-lien-he li.nav-item {
    width: 19%;
}

#menu-top .nav-item img {
    width: 58%;
    margin: auto;
    text-align: center;
}

#sdt .card {
    margin-top: 11px;
    width: 78%;
    background: #c62828;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    float: right;
}

#sdt .card i {
    padding-right: 10px;
}

/*end menu*/
/*content 1:t*/

#content1 .text .button {
    text-align: center;
}

#content1 .text .ct1-rating img {
    padding: 0px 2px;
    width: 5%;
}

#content1 .text .btn {
    width: 50%;
    color: #fff;
    font-size: medium;
    background-image: -webkit-linear-gradient(-62deg, #6610f2 30%, #8c2f4e 81%);
    border-radius: 15px;
}

#content1 .text .ct1-rating {
    text-align: center;
}

#content1 .text .ct1-lkg-ct {
    margin-bottom: 1%;
}

#content1 .text .ct1-lkg {
    padding: 0 3%;
}

#content1 .text .green-text img {
    width: 12%;
    padding: 0 2%;
}

#content1 .text .green-text h6 {
    font-weight: 500;
    color: #063080;
    width: 56%;
    font-size: 19px;
}

#ct1-kh2 .text .green-text h6, #ct1-kh4 .green-text h6 {
    text-align: right;
}

#content1 .text .mb-4 {
    padding: 0 3%;
}
#ct1-kh1 .card-body {
    background: url('../web img/manuel-cosentino-691602-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#ct1-kh2 .card-body {
    background: url('../web img/50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#ct1-kh3 .card-body {
    background: url('../web img/w-349443-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}
#ct1-kh4 .card-body {
    background: url('../web img/willian-justen-de-vasconcellos-603962-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#content1 .green-text h6:hover {
    background: #ef5777;
    padding: 1%;
    -webkit-text-fill-color: white;
}

#ct1-kh1 .green-text h6:hover {
    padding-left: 20%;
}

#ct1-kh3 .green-text h6:hover {
    padding-left: 20%;
}

#content1 .green-text h6 {
    padding: 1% 1%;
    transition: 0.5s;
    transition-timing-function: ease-in;
    border-radius: 10px;
    border-top-right-radius: 100px;
}

#ct1-kh2 .green-text h6, #ct1-kh4 .green-text h6 {
    border-top-left-radius: 121px;
    border-top-right-radius: 10px;
}

#ct1-kh2 .green-text h6 {}

#ct1-kh2 .text .green-text h6:hover {
    padding-right: 20%;
}

#ct1-kh4 .text .green-text h6:hover {
    padding-right: 20%;
}

#ct1-kh1 .text .ct1-lkg-ct i {
    color: #470088;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh2 .text .ct2-lkg-ct i {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh2 .text .ct1-lkg-ct i {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh3 .text .ct1-lkg-ct i {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh4 .text .ct1-lkg-ct i {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh1 .text .ct1-lkg strong {
    color: blueviolet;
    font-size: 20px;
}

#ct1-kh2 .text .ct1-lkg strong {
    color: white;
    font-size: 20px;
}

#ct1-kh3 .text .ct1-lkg strong {
    color: white;
    font-size: 20px;
}

#ct1-kh4 .text .ct1-lkg strong {
    color: white;
    font-size: 20px;
}

#ct1-kh1 .text h4 strong {
    color: #063080;
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}

#ct1-kh2 .text h4 strong {
    color: #063080;
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}

#ct1-kh3 .text h4 strong {
    color: #ffffff;
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}

#ct1-kh4 .text h4 strong {
    color: #ffffff;
    font-family: 'Leckerli One', cursive;
    font-size: 30px;
}

#ct1-kh1 .text .ct-content-text {
    color: #4f0099;
    font-weight: 500;
    font-size: 18px;
}

#ct1-kh2 .text .ct-content-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh3 .text .ct-content-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

#ct1-kh4 .text .ct-content-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
}

/*end content 1: */
/*content 2: */
#content2 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#content2 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content2 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 1%;
}

#content2 .card-body {
    background: url('../web img/david-guenther-639347-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* END content 2: */
/*content 3:*/
#content3 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #0f3fbb;
    padding: 0px 8px;
}

#content3 #tieude .lines-trangtri {
    border: 1px solid aliceblue;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content3 #tieude h2 {
    font-size: 190%;
    color: aliceblue;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}


#ct3-button {
    width: 100%;
    margin-bottom: 2%;
}

#ct3-button button {
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2%;
    background-image: -webkit-linear-gradient(240deg, #ffa59e 30%, #f44336 81%);
}

#ct3-button button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

#ct3-content {
    margin: 4% 1%;
}

#ct3-content .ct3-content h4 {
    border: 1px solid #f44336;
    width: 100%;
    padding: 5% 0%;
    font-weight: 500;
    color: aliceblue;
    border-radius: 15px;
    background: #F44336;
    box-shadow: -2px 2px 20px 5px #640802bd;
}

#ct3-content .ct3-content img {
    width: 27%;
    padding: 0px 5%;
}
/*END content Ãƒâ€šÃ‚Â¢*/
/*content4 : */
#content4 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#content4 #tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content4 #tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 1%;
}
/*table*/

#content4 tr td button {
    width: 100%;
    padding: 5px 10px;
}

#content4 tr td {
    padding: 0px 10px;
    font-weight: 500;
}

#content4 tr td button a {
    font-weight: 600;
}
/*END TABLE*/

/*END content4 : */
/*content5 : */
#ct5-tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#ct5-tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#ct5-tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 1%;
}

#ct5-content .card-body {
    text-align: center;
    background: #ff8800;
    color: aliceblue;
}

#ct5-content .card-body h4 {
    font-weight: 600;
}

#ct5-content .view img {
    height: 35vh;
}
/*END content5 : */
/*content 6: */
#ct6-tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#ct6-tieude .lines-trangtri {
    border: 2px solid #2d3e50;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#ct6-tieude h2 {
    font-size: 190%;
    color: #2d3e50;
    font-weight: bold;
    margin-bottom: 1%;
}
#ct6-content{
    font-family: 'Lato', sans-serif;
}
#ct6-content h2{
    position: relative;
}
#ct6-content h2::after{
    content: "";
    width: 130px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #FFC107;
    left: 0;
    right: 0;
    bottom: -10px;
}
#ct6-content .carousel-inner .carousel-item .img-box{
    width: 135px;
    height: 135px;
}
#ct6-content .carousel-control-prev{
    left: -100px;
}
#ct6-content .carousel-control-next{
    right: -100px;
}
#ct6-content .carousel-indicators{
}
@media (min-width: 320px) and (max-width: 640px) {
    #ct6-content .carousel-inner .carousel-item p{
        font-size: 14px;
    }
    #ct6-content .carousel-control-prev{
        left: -40px;
    }
    #ct6-content .carousel-control-next{
        right: -40px;
    }
    #ct6-content .carousel-indicators{
        top: 400px;
    }
}

#ct6-content .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

#ct6-content .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

#ct6-content .carousel .carousel-indicators li {
    background: #fff;
}

#ct6-content .carousel .carousel-indicators {bottom: 0;margin-bottom: 0;}

#content6 {
    background-image: url("../web img/backgroud6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 0%;
    padding-bottom: 5%;
}

#ct6-content .rounded-circle {
    width: 100%;
}

#ct6-content .ct6-rating img {
    width: 4%;
}

#ct6-content p {
    color: #fff;
    height: 150px;
}

#ct6-content .carousel-item h6 {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

#ct6-content .name {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 2px #000;
}
/*END content 6: Ã‚Â°*/
div#content7 {
    background: #1f1f1f;
    padding-bottom: 3%;
}
#content7 .col-5.col-sm-5.col-md-5.col-lg-5 {
    padding: 0;
}
#buttom-left .row {
    padding-top: 20px;
}
#logo-buttom {
    padding: 5px;
}
#logo-buttom img {
    width: 100%;
}
#ten-buttom {
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: 'Convergence';
    padding-top: 6%;
    padding-bottom: 6%;
    text-shadow: 2px 1px 1px #ff6666;
}
#ten-buttom h3 {
    font-size: 34px;
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right h4 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 4%;
}
#buttom-right p {
    font-size: 18px;
    padding-left: 1%;
}
#buttom-right .row {
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}
#buttom-right img {
    width: 18%;
    height: 100%;
    padding: 2%;
}
.fb {
    width: 380px;
    background: aqua;
    height: 200px;
    color: black;
    /* margin: auto; */
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right iframe {
    width: 100%;
    height: 100%;
}