@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:400i');
*{
    margin: 0px;
    padding: 0px
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

#ct4-content img:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 15px 0px #365899;
}

#ct4-content img {
    transition: 0.2s;
    transition-timing-function: ease-in;
}


body img{
    width: 100%;
    height: auto;
}


                                                        /*bat dau menu*/

#menu-top .bottom .nav-link {
    color: aliceblue;
    font-weight: 500;
}

#menu-top .bottom {
    position: fixed;
    z-index: 100;
    width: 85%;
    background: url('../web img/gradient-background-images-6204-6478-hd-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
#modal-dangnhap .modal-title {
    color: #fff;
}
 
#modal-dangnhap .social, #modal-dangky .social {float: none;margin: 2% auto 1%;text-align: center;}
 
#modal-dangnhap .social .circle, #modal-dangky .social .circle {background-color: #ffffff;color: #000000;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;display: inline-block;margin: 0 7px;padding: 7px;}
 
#modal-dangnhap .social .circle .fa, #modal-dangky .social .circle .fa {font-size: 18px;}
 
#modal-dangnhap .social .facebook, #modal-dangky .social .facebook {background-color: #455CA8;color: #FFFFFF;}
#modal-dangnhap .social .google, #modal-dangky .social .google {background-color: #F74933;}
 
#modal-dangnhap .social .apple, #modal-dangky .social .apple {/* background-color: #403A3A; */}
 
#modal-dangnhap .social .facebook:hover {    
background-color: #6E83CD;
}
#modal-dangky .social .facebook:hover {    
background-color: #6E83CD;
}
#modal-dangnhap .social .google:hover {  
background-color: #FF7566;
}
#modal-dangky .social .google:hover {  
background-color: #FF7566;
}
#modal-dangnhap .social .apple:hover {  
background-color: #4D4D4d;
}
#modal-dangky .social .apple:hover {  
background-color: #4D4D4d;
}
#modal-dangnhap .modal-footer button, #modal-dangky .modal-footer button {
    width: 66%;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(-45deg,#b5bacc 30%,#455ca8 60%);
}

#modal-dangnhap .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#modal-dangky .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#modal-dangnhap {
    color: #fff;
}
#modal-dangky {
    color: #fff;
}

#modal-dangnhap .modal-body label {
    color: #fff;
}

#modal-dangnhap .modal-header button {
    color: #fff;
}

#modal-dangky .modal-header {
    padding: 2% 0%;
}

#modal-dangky .modal-body {
    padding: 1% 1%;
}

#modal-dangky .social hr {
    background: #fff;
    margin: 6% 0%;
}

#modal-dangky .close {
    position: fixed;
    top: 2%;
    right: 5%;
    font-size: 30px;
    color: #fff;
}

#modal-dangky .modal-body p {
    text-align: center;
    font-size: large;
}

#modal-dangky .modal-body p a {color: aqua;}

#modal-dangky .custom-control label {
    text-align: left;
    margin: 3% 0%;
}
#ten-trung-tam h3 {
    font-family: 'Convergence';
    padding-top: 16px;
    text-shadow: 2px 1px 1px #ff6666;
    font-size: 36px;
}


#basicExampleNav li.nav-item {
    padding-left: 10px;
    transition: 1s;
}

#basicExampleNav li.nav-item:hover {
    border-bottom: 1px solid red;
}


#logo .logo {
    width: 100%;
    text-align: center;
}

#logo img.img-fluid {
    width: 58%;
}

#logo {
    padding: 0px;
    margin: 0;
}

#menu-top .container-fluid {
    margin: 0;
    padding: 0;
}

#menu-top {
    padding: 0;
    margin: 0;
}


#menu-button button {
    width: 150px;
    margin: 2% 1%;
    padding-left: 0;
    padding-right: 0;
}

#menu-button .dangnhap {
    background: #c62828;
    border-radius: 10px;
    color: #fff;
}

#menu-button .dangky {
    background: #063080;
    border-radius: 10px;
    color: #fff;
}

#menu-button {
    /* padding: 0px 3px; */
    text-align: left;
    text-align: right;
}

#menu-duoi {
    padding: 7px 0px;
}

#menu-duoi nav.navbar.navbar-expand-lg.navbar-dark.primary-color {
    padding: 0;
}

#icon-lien-he {
    margin: 5px 0px;
}

#sdt .card.bg-danger.text-white {
    margin: 10px 0px;
    margin-right: 25px;
}

#sdt .card-body {
    padding: 10px 28px;
    text-align: center;
}

#icon-lien-he a.nav-link {
    padding-left: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 10%;
}


#icon-lien-he li.nav-item {
    width: 19%;
}

#menu-top .nav-item img {
    width: 58%;
    margin: auto;
    text-align: center;
}

#sdt .card {
    margin-top: 11px;
    width: 78%;
    background: #c62828;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    float: right;
}

#sdt .card i {
    padding-right: 10px;
}
#menu-duoi .nav-item.mn-lotrinhhoctap.vitri-line {
    border-bottom: 4px solid #063080;
    transition: 2s;
}
#menu-duoi .nav-item.mn-phuongphaphoc.vitri-line {
    border-bottom: 4px solid #ffcb32;
    transition: 2s;
}
#menu-duoi .nav-item.mn-chiase.vitri-line {
    border-bottom: 4px solid #4bcffa;
    transition: 2s;
}
#menu-duoi .nav-item.mn-giaovien.vitri-line {
    border-bottom: 4px solid #ef5777;
    transition: 2s;
}
#menu-duoi .nav-item.mn-tuvan.vitri-line {
    border-bottom: 4px solid #aa66cc;
    transition: 2s;
}
#menu-top .menu1 {
    top: 1%;
    width: 89%;
    left: 13%;
    transition: 1s;
    background-image: -webkit-linear-gradient(90deg,#ffffff52 10%,#aea5a578 20%,#ff676678 30%,#a63d3dd4 50%,#f992a7 60%,#ff67667a 80%,#eeeeee87 95%);
}
#menu-top .menu1 {
    left: 10%;
    top: -1%;
    transition: 1s;
}


#menu-top .menu2 {
    border-top-left-radius: 100px;
    transition: 1s;
    top: -1.5%;
    left: 10%;
    width: 87%;
    background-image: -webkit-linear-gradient(45deg,#ff6766c7 10%,#063080b8 40%,#063080c2 50%,#f992a7 60%,#ff676659 80%,#ff6766 95%);
}

#menu-top .menu3 {
    border-bottom-left-radius: 100px;
    top: -0.5%;
    left: 10%;
    width: 87%;
    background-image: -webkit-linear-gradient(45deg,#86d9f3e6 10%,#29bcece0 40%,#1ac3fa 50%,#00bbf8de 60%,#2c86a3 80%,#049ccd 95%);
    transition: 1s;
}

#menu-top .menu4 {
    left: 10%;
    width: 86%;
    transition: 1s;
    top: -1%;
    border-radius: 30px;
}
#menu-top .bg-logo1 {
    background: #36afba;
    background-repeat: no-repeat;
    box-shadow: 60px 0px 62px #36afba;
}

#menu-top .menu-top .bg-logo1 .logo img {
    position: fixed;
    top: 0%;
    left: 1%;
    z-index: 100;
}

#menu-top .menu-top .bg-logo2 .logo img {
    position: fixed;
    top: 0%;
    left: 1%;
    z-index: 100;
    width: 7%;
}

#menu-top .menu-top .bg-logo3 .logo img {
    position: fixed;
    top: 0%;
    left: 1%;
    z-index: 100;
    width: 7%;
}

#menu-top .menu-top .bg-logo4 .logo img {
    position: fixed;
    top: 0%;
    left: 1%;
    z-index: 100;
    width: 7%;
}

#logo img.img-fluid.logo1 {
    width: 7%;
    left: 4%;
    top: -1%;
    z-index: 102
    background-color: #41aca500;
    box-shadow: 77px 0px 20px #41aca500;
}
#menu-duoi .navbar.navbar-expand-lg.navbar1 {
    background: #ffe4c400;
    transition: 1s;
}
#menu-duoi .navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}
.navbar.navbar-expand-lg.navbar1 {
    background-image: linear-gradient(white, #ff6766);
}
#menu-duoi .navbar.navbar-expand-lg.navbar2, #menu-duoi .navbar.navbar-expand-lg.navbar3, #menu-duoi .navbar.navbar-expand-lg.navbar4 {
    background-image: linear-gradient(white, #ff6766);
    border-bottom-right-radius: 100px;
}
nav.navbar.navbar-expand-lg.navbar2 {
    background-image: linear-gradient(white, #ff6766);
}
/*end menu*/
/*content1*/

div#carouselExampleControls {
    width: 100%;
}

#cogai1 {
    width: 33%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 14%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}


#haoquang1 {
    position: absolute;
    width: 20%;
    bottom: 41%;
    right: 17%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.5s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}

#haoquang2 {
    position: absolute;
    width: 20%;
    bottom: 35%;
    right: 14%;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    animation-delay: 1.8s;
    animation: haoquang-saucogai 1.5s forwards;
    animation-iteration-count: 1;
}



#may1 {
    position: absolute;
    z-index: 3;
    width: 18%;
    bottom: 54%;
    left: 17%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
}

#may2 {
    width: 19%;
    position: absolute;
    z-index: 3;
    bottom: 60%;
    left: 40%;
    opacity: 0;
    visibility: hidden;
    animation-delay:  2s;
    animation: slidemot-linhtinh 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#slide1-text{
    position: absolute; 
    width: 35%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 180%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide1 button a {
    color: #925166;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide1 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 20%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    background: #fde04c;
}

/*END slide 1*/
/*slide 2*/
#slide2-img2 {
    width: 29%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 8%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}

#slide2-img1{
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 8%;
    left: 6%;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 58%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 40%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    color: #fff;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide2 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide2 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 27%;
    left: 31%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #5c794b;
}

/*end slide 2*/
/*slide 3*/
#slide3-img1 {
    width: 32%;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    right: 6%;
    opacity: 0;
    visibility: hidden;
    animation: slide-mot-lanmot 1.5s forwards;
    animation-iteration-count: 1;
}
#slide3-img2{
    width: 35%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 15%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text{
    color: #0aa2da;
}
#slide3-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 66%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 51%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slidemot-nut 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide3 button a {
    color: #2e1517;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#slide3 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 39%;
    left: 51%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #fc415c;
}
/*end slide3*/
/*slide4*/
#slide4-img1 {
    width: 39%;
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 33%;
    opacity: 0;
    visibility: hidden;
    animation: slidemot-nut 1.5s forwards;
    animation-iteration-count: 1;
}
#slide4-text {
    color: white;
}
#slide4-img2{
    width: 25%;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    right: 10%;
    visibility: hidden;
    animation-delay:  3s;
    animation: haoquang-saucogai 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text h4{
    position: absolute;
    width: 39%;
    z-index: 5;
    bottom: 48%;
    left: 20%;
    font-family: 'Leckerli One', cursive;
    font-size: 280%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4-text p {
    position: absolute;
    width: 45%;
    z-index: 5;
    bottom: 30%;
    left: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 150%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    animation-delay:  3s;
    animation: slide-mot-lanmot 2s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
#slide4 button a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
#slide4 button {
    position: absolute;
    width: 170px;
    padding: 0;
    margin: 0;
    bottom: 19%;
    left: 45%;
    border-radius: 20px;
    padding-top:  20px;
    padding-bottom: 20px;
    z-index: 5;
    background: #b91f23;
}
/*End slide 4*/
/*Animation*/
@-webkit-keyframes slide-mot-lanmot{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(1000px);
           -moz-transform: translateY(1000px);
            -ms-transform: translateY(1000px);
             -o-transform: translateY(1000px);
                transform: translateY(1000px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes slidemot-nut{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-1000px);
           -moz-transform: translateX(-1000px);
            -ms-transform: translateX(-1000px);
             -o-transform: translateX(-1000px);
                transform: translateX(-1000px);

    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@-webkit-keyframes haoquang-saucogai{
    0%{
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.2);
           -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
             -o-transform: scale(0.2);
                transform: scale(0.2);
    }
    50%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1.5);
           -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
             -o-transform: scale(1.5);
                transform: scale(1.5);
    }
    100%{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes slidemot-linhtinh {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    25%{
        opacity: 0.25;
        visibility: visible;
    }
    50%{
        opacity: 0.5;
        visibility: visible;
    }
    75%{
        opacity: 0.75;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

/*End enimation*/

                                            /*end content 1*/
                                            /*content 2: */
#content2 {
    background-image: url('../web img/Little-Wtich-Academia-Cosplay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
} 
#content2 #tieude .lines-trangtri i {
    font-size: 35px;
    position: relative;
    top: -18px;
    line-height: 35px;
    background: #f1f1f1;
    padding: 0px 8px;
}

#content2 #tieude .lines-trangtri {
    border: 1px solid #ffffff;
    height: 0;
    padding: 0;
    width: 30%;
    margin: auto;
    position: relative;
    top: -25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#content2 #tieude h2 {
    font-size: 230%;
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 1%;
    width: 70%;
    margin: auto;
    background-image: -webkit-linear-gradient(90deg,#4558b654 10%,#152bc1c9 40%,#0b3076c2 50%,#4256bad6 60%,#ff7877cf 80%,#ff7877b8 95%);
    padding: 1%;
    border-radius: 50px;
    box-shadow: 0px 4px 20px 1px white;
}

#content2 .lotrinh-content .card .card-body {
    padding: 5%;
    text-align: center;
    background: #ff7877cf;
}

#content2 .lotrinh-content .card .card-body p {
    font-size: 1.1rem;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
}

#content2 .lotrinh-content .card .card-body h4 {
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    color: #c2ffff;
}

#content2 .lotrinh-title {
    background: #ff7877;
    width: 60%;
    padding: 1% 2%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 67px;
    margin: 3% 1%;
    transition: 0.5s;
    transition-timing-function: ease-in;
    box-shadow: 20px 0px 20px 7px #b84f44c2;
}

#content2 .lotrinh-title:hover {background: #e9504e;padding-left: 10%;box-shadow: 20px 0px 20px 7px #1e37999c;}

#content2 .lotrinh-title h5 {
    margin: 0;
    font-weight: bold;
    color: aliceblue;
}

#content2 .lotrinh-content .lotrinh-next img {
    position: absolute;
    width: 80%;
    top: 45%;
}

#tongtien {
    font-size: xx-large;
    font-weight: 400;
    margin-left: 12%;
}

#socap-img1 .modal-body input {
    width: 20%;
    text-align: center;
    margin-left: 10%;
}

#socap-img1 .modal-body .sc-img-bt {
    width: 100%;
    text-align: center;
}

#socap-img1 .modal-body h4 {
    font-size: 50px;
    font-weight: 500;
}

#socap-img1 .modal-body .cost {
    width: 14%;
    text-align: center;
    margin-left: 20px;
}

#socap-img1 .modal-body button {
    width: 65%;
    border-radius: 10px;
    background: #dc3545;
}

#content2 .lotrinh-content .lotrinh-next {
    width: 10%;
    padding: 0px 10px;
    position: relative;
    float: left;
}

#lotrinhn4 .lotrinh-content .card {
    width: 17%;
    float: left;
    background: #1e379994;
    transition: 0.5s;
    box-shadow: 0px 4px 14px 1px #dee1fdbf;
    transition-timing-function: ease-in-out;
}

#lotrinhn4 .lotrinh-content .card:hover {
    transform: scale(1.03);
    background: #1e37991f;
    box-shadow: 0px 5px 11px 4px #ff7877ad;
}

#lotrinhn3 .lotrinh-content .card {
    width: 23%;
    margin: auto;
    background: #1e379994;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 4px 14px 1px #dee1fdbf;
}

#lotrinhn3 .lotrinh-content .card:hover {
    transform: scale(1.03);
    background: #1e37991f;
    box-shadow: 0px 5px 11px 4px #ff7877ad;
}

#lotrinhn2 .lotrinh-content .card {
    width: 22%;
    margin: auto;
    background: #1e379994;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 4px 14px 1px #dee1fdbf;
}

#lotrinhn2 .lotrinh-content .card:hover {
    transform: scale(1.03);
    background: #1e37991f;
    box-shadow: 0px 5px 11px 4px #ff7877ad;
}
.clear { clear: both }

#content2 .lotrinh-combo {
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

#content2 .lotrinh-combo button {
    font-size: 1.5rem;
    border-radius: 10px;
    width: 50%;
    background-image: -webkit-linear-gradient(-62deg, #ff7877 30%, #063080 81%);
}

#content2 .lotrinh-combo button:hover {
    box-shadow: 0px 3px 15px 2px #e55039;
}


#content2 .lotrinh-combo button a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

#content2 .lotrinh-content .view.overlay {margin-bottom: 5%;background: #e91e6300;}

#content2 hr {
    width: 50%;
    margin: auto;
    border: 1px solid aliceblue;
}

#lotrinhn3 .lotrinh-content .row {margin: auto;padding-left: 5%;padding-right: 5%;}

#lotrinhn2 .lotrinh-content .row {
    padding-left: 5%;
    padding-right: 5%;
}

#lotrinhn3 .lotrinh-content {
    width: 100%;
}

#lotrinhn2 .lotrinh-content {
    width: 100%;
}

                            /*content3: */
#content3{
    background-image: url('../web img/lauren-mancke-60627-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    padding: 3% 0%;
    margin-top: 2%;
}
#content3-content .right .view.overlay img {height: 18vh;filter: brightness(93%);}

#content3-content .right .view.overlay {
    transition: 0.5s;
    transition-timing-function: ease-in;
}

#content3-content .right .view.overlay:hover {
    transform: scale(1.4);
    z-index: 5;
    box-shadow: 0px 6px 12px 3px #ca7396;
}

#content3-content .right .card .card-body {
    padding: 3% 1%;
    background-image: -webkit-linear-gradient(45deg,#ff7574 30%, #546de5 80%);
}

#content3-content .right .card .card-body p {
    font-size: 1.16rem;
    height: 9vh;
    color: antiquewhite;
}

#content3-content .right .text-center {
    margin: 0;
    margin-bottom: 3%;
}

#content3-content .right .buttom {
    margin-bottom: 2%;
}

#content3-content .right .title h4 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: 400;
    margin-bottom: 2%;
    color: aliceblue;
    text-transform: uppercase;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 2%;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(45deg,#546de5d1 25%, #e77f67d9 80%);
}

#content3-content .right .title {
    width: 100%;
}

#content3-content .right {
    background: #16a085de;
    padding: 0% 1%;
    border-radius: 10px;
}

#content3-content .left .ct3-l-ct h3 img {
    width: 12%;
    margin: 0% 2%;
}

#content3-content .left .ct3-l-ct {
    width: 100%;
    text-align: left;
    margin-bottom: 15%;
    background-image: -webkit-linear-gradient(90deg,#f5cd79db 30%, #546de5eb 80%);
    border-radius: 10px;
    transition: 0.3s;
    transition-timing-function: ease-in;
}

#content3-content .left .ct3-l-ct:hover {
    transform: scale(1.07);
    z-index: 10;
    box-shadow: 0 5px 13px 1px #8a8bb3;
}

#content3-content .left {
    padding-left: 0;
    padding-top: 3%;
}

#content3-content .left .ct3-l-ct h3 {
    color: aliceblue;
    font-weight: 600;
    padding: 2% 0%;
    font-size: 1.7rem;
}

#content3-content .left .ct3-l-ct h5 {
    color: navy;
    font-size: 1.4rem;
    font-weight: 400;
}


#content3-tieude h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: 70%;
    margin: auto;
    color: aliceblue;
    background-image: -webkit-linear-gradient(90deg,#f5cd7938 10%,#546de5de 40%,#546de5cc 50%,#546de5db 60%,#546de5e8 80%,#546de557 95%);
    padding: 1%;
    border-radius: 50px;
    box-shadow: 0px 4px 20px 1px #f5cd79d9;
}

#content3-tieude h6 {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 1%;
}

#ct3-btn {
    width: 100%;
    margin-bottom: 2%;
}

#ct3-btn button {
    font-size: 1.5rem;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    background-image: -webkit-linear-gradient(-62deg, #ff7877 30%, #063080 81%);
}

#ct3-btn button:hover {
    box-shadow: 0px 3px 15px 2px #e55039;
}

#ct3-btn button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
                    
                    /*end content3: */
                    /*content4: */
.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only() {
    column-count: 1;
  }
}
#ct4-title {
    width: 100%;
    margin-bottom: 3%;
}

#ct5-title h4 {text-align: center;width: 60%;margin: auto;color: #107638;text-transform: uppercase;font-weight: bold;background-image: -webkit-linear-gradient(90deg,#cde6c6 20%, #228140 95%);padding: 1%;border-radius: 50px;box-shadow: 0px 4px 5px 0px #492472;}

#content4 {
    width: 100%;
    margin-bottom: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    background-image: url('../web img/ian-valerio-594876-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#content4 .blockquote {
    border-left: .25rem solid #365899;
}

#content4-ct-6 .blockquote p {
    font-size: 1rem;
}

#content4 footer.blockquote-footer {
    color: #616770;
}

#content4 .card-text {
    color: #1d2129;
    font-size: 1.1rem;
}

#content4 .card-title {
    color: #365899;
    font-weight: 600;
}
#content4 small.text-muted {
    color: #616770;
    font-size: 0.9rem;
}
                        
                        /*end content4: */
                        /*content5: */
#content5{
    background: url('../web img/backgroud6.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
#ct5-title {
    width: 100%;
    padding: 2% 0%;
}

#ct4-title h4 {
    text-align: center;
    width: 60%;
    margin: auto;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    background-image: -webkit-linear-gradient(90deg,#fafafa91 20%, #0000ff 95%);
    padding: 1%;
    border-radius: 50px;
    box-shadow: 0px 4px 5px 0px #dcdcd4;
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'fontawesome';
    src: url('../font/fontawesome.eot');
    src: url('../font/fontawesome.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome.svg#fontawesome') format('svg'), url('../font/fontawesome.woff') format('woff'), url('../font/fontawesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#content5 .nav {
    z-index: 5;
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    margin: auto;
}

#content5 .arrow {
    width: 65px;
    height: 50px;
    background: #fff0;
    color: #cde6c6;
    font-size: 1.8rem;
    text-align: center;
    line-height: 20%;
    cursor: pointer;
    font-weight: normal;
    padding: 5%;
    /* position: relative; */
    /* top: 350px; */
    margin-left: auto;
    margin-right: auto;
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 70 );
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70);
    filter: alpha(opacity = 70);
}

.arrow:hover {
    background: #0066cc;
}

#slider-container {
    margin-left:auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 10%;
    position: relative;
}

#slider-container #slider {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

#slider-container .face {
    position: absolute;
    padding: 0px;
}

                        /*end content5: i*/


                        /*content 6: */

#ct6-center {
    text-align: center;
    width: 100%;
}

#ct6-center h4 {
    width: 100%;
    color: #fff;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 7%;
}

#ct6-center button {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    background: #007aff;
    border-radius: 15px;
}

#ct6-right {
    padding-top: 0%;
    text-align: right;
    padding-right: 0px;
}

#ct6-right img {
    width: 50%;
    position: relative;
}

#ct6-left {
    padding-top: 2.5%;
}

#ct6-left img {
    width: 55%;
}

#content6 {
    background: #ff6766;
    /* margin-top: 10%; */
}

#nhantuvanngay .close {
    color: #ffff;
}

#nhantuvanngay .modal-content {
    background: url('../web img/sakura-blossoms-background-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#nhantuvanngay .modal-content .modal-body .md-form {margin-top: 0px;}

#nhantuvanngay .modal-content .modal-footer button {
    width: 70%;
    background: #880e4f;
    background-image: -webkit-linear-gradient(-45deg, #ff7ea8 25%, #8c2f4e 51%);
    border-radius: 10px;
}
#nhantuvanngay .md-form label {
    color: #fff;
}
                
            /*end content 6: */    

            /*map*/
div#content7 {
    background: #1f1f1f;
    padding-bottom: 3%;
}
#content7 .col-5.col-sm-5.col-md-5.col-lg-5 {
    padding: 0;
}
#buttom-left .row {
    padding-top: 20px;
}
#logo-buttom {
    padding: 5px;
}
#logo-buttom img {
    width: 100%;
}
#ten-buttom {
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: 'Convergence';
    padding-top: 6%;
    padding-bottom: 6%;
    text-shadow: 2px 1px 1px #ff6666;
}
#ten-buttom h3 {
    font-size: 34px;
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right h4 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 4%;
}
#buttom-right p {
    font-size: 18px;
    padding-left: 1%;
}
#buttom-right .row {
    text-align: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}
#buttom-right img {
    width: 18%;
    height: 100%;
    padding: 2%;
}
.fb {
    width: 380px;
    background: aqua;
    height: 200px;
    color: black;
    /* margin: auto; */
}
#buttom-right {
    color: #fff;
    padding-top: 0%;
    padding-left: 0%;
    padding: 0;
    width: 125%;
    margin: 0%;
}
#buttom-right iframe {
    width: 100%;
    height: 100%;
}

            /*end map*/

